<footer class="bg-dark text-light text-center text-md-left">
	<div class="container">
		<div class="row pt-4">
			<div class="col-sm-6 col-md-3 pb-4">
				<h4 class="mb-4">
					BookLand
				</h4>
				<ul class="list-unstyled">
					<li>
						<a href="#" class="text-light">Latest Books</a>
					</li>
					<li>
						<a href="#" class="text-light">Top Trending</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-3 pb-4">
				<h4 class="mb-4">
					About
				</h4>
				<ul class="list-unstyled">
					<li>
						<a href="#" class="text-light">Company</a>
					</li>
				</ul>
			</div>
			<div class="col-md-6 pb-4">
				<h4 class="mb-4">
					Readers Paradise
				</h4>
				<ul class="list-unstyled">
					<li>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, impedit explicabo! Quisquam esse, provident voluptates pariatur expedita dolores vel quaerat aliquam sequi. Ipsa earum ut id corporis deleniti exercitationem esse!
					</li>
				</ul>
			</div>
		</div>
		<div class="col d-flex justify-content-center mb-4">
			<a href="#" class="d-block px-3"><img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook-m.png" alt="Facebook" /></a><a href="#" class="d-block px-3"><img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-twitter-m.png" alt="Twitter" /></a><a href="#" class="d-block px-3"><img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-instagram-m.png" alt="Instagram" /></a><a href="#" class="d-block px-3"><img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-linkedin-m.png" alt="Linkedin" /></a>
		</div>
		<p class="text-center text-secondary border-top border-secondary py-4">
			BookLand © 2022
		</p>
	</div>
</footer>