<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <a class="navbar-brand" href="/" data-abc="true">BookLand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    {{#if user}}
    <div style="justify-content: space-between;" class="collapse navbar-collapse" id="navbarColor02">      
        {{#if (eq user.role "admin")}}
        <form method="GET" action="/admin/inventory/search" id="searchForm" class="d-flex align-items-center form-inline my-2 my-lg-0 ml-3"> 
        {{else}}
        <form method="GET" action="/books" id="searchForm" class="d-flex align-items-center form-inline my-2 my-lg-0 ml-3">
        {{/if}}  
          <input name="search" style="width: 300px;" class="form-control mr-sm-2" type="text" placeholder="Search by title, author, publisher, description"> 
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> 
        <div style="cursor: pointer;position:relative" class="ml-3">
          <i id="filterIcon" class="fa fa-2x fa-filter text-info" aria-hidden="true"></i>
          <div id="filter" class="d-none" style="width: 300px;position:absolute;top:110%;left:0;background:rgb(224, 220, 220);padding:20px;border-radius:8px;z-index: 10">
            <div class="form-group">
              <label for="sel1">Price:</label>
              <select name="priceFilter" id="priceFilter" class="form-control" id="sel1">
                <option>Any</option>
                <option>0$-10$</option>
                <option>10$-20$</option>
                <option>20$-30$</option>
                <option>30$-above</option>
              </select>
            </div>
            <div class="form-group mt-3">
              <label for="sel1">Pages:</label>
              <select name="pageFilter" id="pageFilter" class="form-control" id="sel1">
                <option>Any</option>
                <option>0-100</option>
                <option>100-200</option>
                <option>200-300</option>
                <option>300-500</option>
                <option>500-800</option>
                <option>800-above</option>
              </select>
            </div>
            <div class="form-group mt-3">
              <label for="sel1">Language:</label>
              <select name="language" id="languageFilter" class="form-control" id="sel1">
                <option>Any</option>
                <option>English</option>
                <option>Arabic</option>
                <option>French</option>
                <option>Spanish</option>
                <option>German</option>
                <option>Russian</option>
              </select>
            </div>
          </div>
        </div>
        </form>
        <div class="d-flex align-items-center">
          {{#if (eq user.role "admin")}}
            <a href="/admin/inventory" class="btn btn-link text-white mr-2">Inventory</a>
            <a href="/books/add" class="btn btn-link text-white mr-2">Add Book</a>
          {{else}}
            <a class="btn bnt-link mr-2">
              <i class="fa fa-2x fa-mobile text-info" aria-hidden="true"></i>
            </a>
            <a href="/wishlist" class="btn bnt-link mr-2">
              <i style="font-size: 23px" class="fa fa-heart text-info" aria-hidden="true"></i>
            </a>
            <div style="position: relative" class="mr-2 btn">
              <i id="cartIcon" style="font-size: 25px" class="fa fa-shopping-cart text-info"></i>
              <div id="cart" class="d-none shadow" style="position: absolute; width: 500px; right:0; top:110%; padding: 16px 12px; background:rgb(224, 220, 220); z-index: 10; border-radius: 28px;">
            </div>
            </div>
          {{/if}}
          <a href="/auth/logout" class="btn bnt-link">
            <i class="fa fa-2x fa-sign-out text-info" aria-hidden="true"></i>
          </a>
        </div>
    </div>
    {{else}}
    <div class="d-flex ml-auto">
      <a href="/auth/login" class="btn btn-link text-white mr-2">Login</a>
      <a href="/auth/signup" class="btn btn-link text-white">Signup</a>
    </div>
    {{/if}}
</nav>
<script>
  
  //Filter Dom Actions
  const filterElement = document.getElementById("filter");
  const filterIcon = document.getElementById("filterIcon");
  filterIcon.addEventListener('click', () => {
    if(filterElement.classList.contains('d-none')) {
      filterElement.classList.remove('d-none');
    } else {
      filterElement.classList.add('d-none');
    }
  });


  //Cart Dom Actions
  const cartElement = document.getElementById("cart");
  const cartIcon = document.getElementById("cartIcon");
  cartIcon.addEventListener('click', () => {
    if(cartElement.classList.contains('d-none')) {
      cartElement.classList.remove('d-none');
    } else {
      cartElement.classList.add('d-none');
    }
  });

  (async () => {

    const cartDom = document.getElementById('cart');
    cartDom.innerHTML = `<div style="padding: 50px 25px;">Loading...</div>`
    const { cart } =  await fetch('http://localhost:3000/cart').then((res) => res.json());
    
    
    if(!cart || cart.length === 0) {
      console.log('here');
      console.log(cartDom);
      cartDom.innerHTML = `<h1 style="padding: 200px 80px;">No items In your cart</h1>`;
      return;
    } 

    let cartHtml = '';
    let cartTotal = 0;
    
    cart.forEach((cartItem) => {
      console.log(cartItem);
      const id = cartItem.book._id;
      const image = cartItem.book.coverImage;
      const title = cartItem.book.title;
      const author = cartItem.book.author;
      const price = cartItem.book.price;
      const quantity = cartItem.quantity;
      cartTotal += price * quantity;

      if(quantity > 0) {
      cartHtml += `
        <div style="display: flex; margin: 10px 0">
          <img src=${image} style="width: 110px; height: auto;" />
          <div style="margin-left: 12px; display:flex; flex-direction:column; justify-content: space-between;">
            <div style="text-align: left">
              <h3>${title}</h3>
              <h4>${author}</h4>
              <h5>$${price}</h5>
              <h5>Quantity: ${quantity}</h5>
            </div>
            <div style="display: flex; margin-top: 8px">
              <button class="btn btn-primary">Buy Now</button>
              <button class="btn btn-danger ml-2" onclick="removeItemFromCart('${id}')">Remove</button>
            </div>
          </div>
        </div>
      `
      }
    });
    cartHtml += `<h5 class="mt-4" style="text-align:center; font-weight: bold">Total: $${cartTotal}</h5>`;
    cartHtml += `<button class="mt-3 btn btn-primary w-100">Proceed To Checkout</button>`;
    cartDom.innerHTML = cartHtml;
  })();

  //Remove from cart api
  const removeItemFromCart = async (bookId) => {
  await fetch('http://localhost:3000/cart/remove', {
    method: 'POST',
    body: JSON.stringify({
      id: bookId,
      remove: true
    }),
    headers: {
      "Content-type": "application/json; charset=UTF-8"
    }
  });
    //window.location.reload();
  }  

</script>
