<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <a class="navbar-brand" href="/" data-abc="true">BookLand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    {{#if user}}
    <div style="justify-content: space-between;" class="collapse navbar-collapse" id="navbarColor02">      
        <form id="searchForm" class="form-inline my-2 my-lg-0 ml-3"> <input name="search" style="width: 300px;" class="form-control mr-sm-2" type="text" placeholder="Search by title, author, publisher"> <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> </form>
        <div class="d-flex align-items-center">
          <a class="btn bnt-link mr-2">
            <i class="fa fa-2x fa-mobile text-info" aria-hidden="true"></i>
          </a>
          <a class="btn bnt-link mr-2">
            <i style="font-size: 23px" class="fa fa-heart text-info" aria-hidden="true"></i>
          </a>
          <a href="/auth/logout" class="btn bnt-link">
            <i class="fa fa-2x fa-sign-out text-info" aria-hidden="true"></i>
          </a>
        </div>
    </div>
    {{else}}
    <div class="d-flex ml-auto">
      <a href="/auth/login" class="btn btn-link text-white mr-2">Login</a>
      <a href="/auth/signup" class="btn btn-link text-white">Signup</a>
    </div>
    {{/if}}
</nav>
<script>
  const searchForm = document.getElementById("searchForm");
  if(searchForm) {
    searchForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const searchQuery = e.target.search.value;
    window.location.href = `/books?q=${searchQuery}`;
  })
  }
</script>
